.loader {
  width: 60px;
  height: 60px;
  background-color: #ffff;
  border: 8px solid rgb(200, 197, 197);
  border-top-color: #ff0b55;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  animation: rotate 1s infinite;
}

@keyframes rotate {
  100% {
    rotate: 350deg;
  }
}
